@import "reset";
@import "variables";
@import "header";


body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    line-height: 1.7;
    font-size: 1.1rem;
    margin: 0;
    color: #27253d;
    background: #e6f3f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  main {
    position: relative;
    padding: 1rem 1rem 3rem;
    min-height: calc(100vh - 4rem);
  }
  
  h1 {
    margin-top: 0;
  }

  .hidden {
      display: none;
  }

.pagination-container {
    margin-bottom: 1rem;
    width: 100vw;
    display: flex;
    align-items: center;
    // position: absolute;
    // bottom: 0;
    justify-content: center;
}


.pagination-number,
.pagination-button {
    font-size: 1.1rem;
    border-color: transparent;
    border: none;
    margin: 0.25rem 0.25 rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
    background-color: #fff;
}

.pagination-number.active {
    color: #fff;
    background: #0085b6;
}



ul {
    li {
        min-width: 400px;
        margin: .5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80vh;
        background-color: #0086b648;
        .nameBox {
            text-align: center;
            flex: 1;
            padding: 1rem;
            p {
                margin: 0;
            }
        }

        .imageBox {
            padding: 0;
            margin: 0;
            height: 100%;

            img {
                height: 100%;
                
                margin-left: 2rem;
                padding: 0;
            
            }
        }
    }
}